.header{
    padding: 10px;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 20px;
}

.wrapper{
    border: 1px solid white;
    display: flex;
    overflow: auto;
}

.wrapper::-webkit-scrollbar{
    width: 1;
}

.wrapper .item{
    min-width: 200px;
    max-width: 200px;
    padding: 10px;
    line-height: 1;
    text-align: left;
    border-style: solid;
    border-color: gray; 
    border-radius: 25px;
    margin-right: 2px;
}
