.wrapper{
    max-height: 120px;
    border: 1px solid green;
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 1;
}

.wrapper .item{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: red; 
    margin-right: 2px;
}